<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components | Learning VueJS</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="icon" href="assets/img/vuejs.png">
  </head>

  <body>

    <div class="page-wrap">
      <h1>Learning about Components in VueJS</h1>
      <main class="main-wrap">
        <section class="app-wrapper" id="app-7">
          <ol>
            <!--
              Now we provide each todo-item with the todo object
              it's representing, so that its content can be dynamic.
              We also need to privde each component with a "key",
              which will be explained later.
            -->
            <todo-item
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id"
            ></todo-item>
          </ol>
        </section>
      </main>
      <aside class="navigation">
        <ol id="sidemenu">
          <list-item
            v-for="(link, index) in links"
            :key="index"
            v-bind:text="link.text"
            v-bind:url="link.url"
          ></list-item>
        </ol>
      </aside>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/components.js"></script>
  </body>
</html>
