<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Vue ChartJS</title>
		<link rel="stylesheet" href="/assets/css/app.css" />
		<link rel="icon" href="images/favicon.png" />
	</head>

	<body>

    <!-- Vue Entry Point -->

    <h1>App 4</h1>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <h1>App 3</h1>
    <div id="app-3">
      <span v-if="seen">Now you see me.</span>
    </div>

    <h1>App 2</h1>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
    </div>

    <h1>App 1</h1>
    <div id="app" class="app">
      {{ message }}
    </div>


		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- insert chartJS and vue-chartJS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

    <script src="/assets/js/app.js"></script>
	</body>
</html>
