/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  line-height: 1.414;
  margin: 0;
  padding: 0;
  font-family: 'system';
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
h5 { font-size: .75rem; }
h6 { font-size: .5rem; }


.page-wrap {
  width: calc(100% - 2rem);
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.page-wrap h1 {
  order: -1;
}

.main-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
}

.app-wrapper {
  width: calc(50% - .5rem);
  padding: 1rem;
  margin: .5rem 0;
  background-color: #1b2430;
  border: 1px solid #10161d;
  border-radius: 4px;
  max-width: 50%;
}


.navigation {
  order: -1;
  width: 100%
}
